<div id="header-main">
  <nav>
    <a id="back-dashboard" class="icon-arrow-left"></a>
    <div class="header-title"><div class="header-title-inner">{{#trans trans}}{{name}}{{/trans}}</div></div>
    {{#ifIs post.status eq="Publish"}}<a id="share-button" class="icon-share"></a>{{/ifIs}}
  </nav>
</div>
