<header id="sidemenu-header">
  <h1 id="sidemenu-header-logo">Loupe</h1>
  <div id="sidemenu-header-arrow" class="icon-arrow-up"></div>
</header>
<section id="sidemenu-blogs-list" class="blogs-list">
</section>
