@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "../../../sass/_helpers.scss";

#card-acception {
  li {
    .circle {
      width: 60px;
      height: 60px;
      border-color: #aaa;
      background-color: #aaa;
      .circle-inner {
        border-color: #fff;
        background-color: #ccc;
      }
      &.image {
        background-color: transparent;
        .circle-inner {
          border-color: transparent;
          background-color: transparent;
        }
      }
    }
  }
}

#acception-view {
  .acception-failed {
    background-color: rgba(240, 240, 240, 0.95);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 13;
  }
  .content {
    min-height: 320px;
    padding: 10px 20px 30px;
  }
  .title {
    text-align: left;
    padding: 10px 0 20px;
    font-weight: bold;
  }
  .body {
    line-height: 1.8em;
    img {
      max-width: 100%;
    }
  }
  .author-name {
    font-weight: bold;
    margin-left: 10px;
  }
}
