<div id="header-main">
  <nav>
    <div class="header-button"><div class="header-button-inner"><a id="back-dashboard">{{#trans trans}}Back{{/trans}}</a></div></div>
    <div class="header-title"><div class="header-title-inner">{{#trans trans}}{{name}}{{/trans}}</div></div>
    {{#if shareEnabled}}<a id="share-button" class="icon-share"></a>{{/if}}
  </nav>
</div>
