<mtapp:widget
    class="welcome-to-loupe"
    label="<__trans phrase="Welcome to Loupe">"
    can_close="1">
<mt:setvarblock name="widget_header">
</mt:setvarblock>
<div id="widget-container">
    <p><__trans phrase="Thank you for installing Loupe!"></p>
    <p><__trans phrase="Loupe can be used without complex configuration, you can get started immediately."></p>
    <p class="msg-text"><a href="<mt:var name="script_url">?__mode=cfg_plugins&blog_id=0"><__trans phrase="Configure Loupe"></a></p>
</div>
</mtapp:widget>

<style type="text/css">
#welcome_to_loupe {
    background-color: #f3f3f5;
}
#welcome_to_loupe .widget-header{
    background: #3b9486;
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#3b9486',
      endColorstr='#348275',
      GradientType=0
    );
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b9486), color-stop(80%, #3b9486), color-stop(100%, #348275));
    background-image: -webkit-linear-gradient(#3b9486, #3b9486 80%, #348275 100%);
    background-image: -moz-linear-gradient(#3b9486, #3b9486 80%, #348275 100%);
    background-image: -o-linear-gradient(#3b9486, #3b9486 80%, #348275 100%);
    background-image: linear-gradient(#3b9486, #3b9486 80%, #348275 100%);
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
#welcome_to_loupe .widget-header .widget-close-link{
    background-color: #f3f3f3;
}
.ui-dialog {
    z-index: 2500;
}
</style>

