<div id="header-main">
  <nav>
    <a id="back-dashboard" class="icon-arrow-left"></a>
    <div id="logo"><div class="logo-inner"><img src="assets/images/sixapartkk_bigger.png"></div></div>
  </nav>
</div>
