<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Loupe</title>
    <link rel="stylesheet" href="<mt:var name="lib_path">/assets/font/League-Gothic-fontfacekit/stylesheet.css">
    <link rel="stylesheet" href="<mt:var name="lib_path">/assets/icons/style.css">
    <link rel="stylesheet" href="<mt:var name="lib_path">/css/style.css">
    <script src="<mt:var name="api_path">/mt-data-api.js"></script><!--[if lte IE 8]>
    <script src="<mt:var name="lib_path">/ie/console-polyfill/index.js"></script>
    <script src="<mt:var name="lib_path">/ie/html5shiv/html5shiv"></script>
    <script src="<mt:var name="lib_path">/ie/selectivizr/selectivizr-min.js"></script>
    <script src="<mt:var name="lib_path">/ie/PIE/PIE_IE678_uncompressed.js"></script><![endif]-->
    <script id="main-script" data-mtapi="<mt:var name="api_cgi_path">" data-base="<mt:var name="lib_path">" src="<mt:var name="lib_path">/js/basket.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="menu"></div>
      <div id="app"></div>
    </div>
    <div id="app-building"></div>
  </body>
</html>