<mtapp:setting
    id="loupe_status"
    label="<__trans phrase="Status">">
    <input type="checkbox" id="loupe_enabled" class="checkbox" name="enabled" value="1"<mt:if name="enabled"> checked="checked"</mt:if>/>
    <label for="loupe_enabled"><__trans phrase="Enable Loupe"></label>
</mtapp:setting>
<mtapp:setting
    id="loupe_url"
    label="URL"
    show_hint="1"
    hint="<__trans phrase="The URL of Loupe's HTML file.">">
    <mt:var name="support_directory_url">loupe/<input type="text" id="loupe_file" class="text path" name="file" value="<mt:var name="file">"/>
</mtapp:setting>
<mt:if name="is_administrator">
    <mt:if name="enabled">
<mtapp:setting
    id="loupe_invitation_email">
    <button onclick="jQuery.fn.mtDialog.open('<mt:var name="script_url">?__mode=dialog_invitation_email'); return false;"><__trans phrase="Send invitation email"></button>
</mtapp:setting>
    </mt:if>
</mt:if>

