<__trans_section component="Loupe">
<__trans phrase="Hi, [_1]", params="<mt:var name"username">">

<__trans phrase="This is Loupe. You can see immediately the status of your site if you are using Loupe.">

<__trans phrase="Try to use Loupe">: <mt:var name="loupe_html_url">
</__trans_section>
