<__trans_section component="Loupe">
Loupe - <__trans phrase="Your MT blog status at a glance">

<__trans phrase="Dear [_1], ", params="<mt:var name="username">"><__trans phrase="Loupe is ready for use!">

<__trans phrase="With Loupe, you can check the status of your blog without having to sign in to your Movable Type account.">

* <__trans phrase="View Access Analysis">
* <__trans phrase="Approve Entries">
* <__trans phrase="Reply to Comments">

<__trans phrase="Loupe is best used with a smartphone (iPhone or Android 4.0 or higher)">

<__trans phrase="Try Loupe">: <mt:var name="loupe_html_url">

<__trans phrase="Perfect for Mini-tasking">

<__trans phrase="_LOUPE_BRIEF">

<__trans phrase="Use Loupe to help manage your Movable Type blogs no matter where you are!">

<__trans phrase="Social Media">:

* Twitter - <__trans phrase="https://twitter.com/movabletype">

<__trans phrase="Contact Us">:

* Movable Type - <__trans phrase="http://www.movabletype.org/">
* Plugin And Theme Directory - <__trans phrase="http://plugins.movabletype.org">
</__trans_section>
