<__trans_section component="Loupe">
<__trans phrase="Hi, I am Loupe.">

<__trans phrase="Movable Type becomes more familiar from today. You can use without installing and with also Smartphone browser.">

<__trans phrase="Try to use Loupe">: <mt:var name="loupe_html_url">
<__trans phrase="Official site">: <mt:var name="loupe_site_url">
</__trans_section>
