@import "compass/utilities/general/clearfix";
@import "../../../sass/_mixins";

#card-feedbacks {
  min-height: 320px;
  padding: 30px 10px;
  background-color: #562632;
  color: #ffffff;
  text-align: center;
  position: relative;
  @include loading-white;
  h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
  }
  ul {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
  }
  li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    border: 6px solid white;
    background-color: #fff;
    display: inline-block;
    img {
      height: 100%;
    }
    &:nth-of-type(3n+2) {
      margin: 0 10px;
    }
  }
  @include pie-clearfix;
  .css-graph-y {
    color: #562632;
  }
  .content {
    padding: 50px 30px;
    @media screen and (max-width: $content-max-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#feedbacks-count {
  font-size: 4em;
  line-height: 1em;
  margin: 0;
}
