{{>js_views_card_partials_title}}
<div class="content">
  {{>js_views_card_partials_loading}}
  {{>js_views_card_partials_fetchError}}
  {{>js_views_card_partials_noItem}}
  <ul id="feedback-comments-list" class="card-item-list"></ul>
  {{>js_views_card_partials_readmore}}
</div>
