{{#if fetchError}}
<div class="fetch-error error">
  <div class="message">
    <div class="message-inner">{{#trans trans}}Failed fetching data{{/trans}}</div>
  </div>
  <div class="refetch button">{{#trans trans}}re-fetch data{{/trans}}</div>
</div>
{{/if}}

