{{#if fetchError}}
<div class="fetch-error">
  <div class="message">{{#trans trans}}Failed fetching data{{/trans}}</div>
  <div class="refetch">{{#trans trans}}re-fetch data{{/trans}}</div>
</div>
{{/if}}

