{{#if providerIsNotAvailable}}
<div class="error">
  <span class="message provider-is-not-available">
    <span class="message-inner">{{#trans trans}}Analytics service does not enabled{{/trans}}</span>
  </span>
</div>
{{/if}}
