$default-transition-property: all;
$default-transition-duration: 0.3s;
$default-transition-function: ease;
$default-transition-delay: 0s;

$content-max-width: 450px;

@mixin card-header {
  background-color: $card-header-background-color;
  color: $card-header-color;
  h1 {
    font-weight: normal;
    padding: 10px;
    font-size: 16px;
  }
}

@mixin hardware-accelerate-hack {
  -webkit-transform: translate3d(0, 0, 0);
}

@mixin loading-base {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin loading-white {
  .loading,
  .content-loading {
    background-image: url("../assets/images/indicator-white.gif");
    @include loading-base;
  }
}

@mixin loading {
  .loading,
  .content-loading {
    background-image: url("../assets/images/indicator.gif");
    @include loading-base;
  }
}

@mixin border-radius-with-pie($radius: $default-border-radius, $vertical-radius: false) {
  @include border-radius($radius, $vertical-radius);
  behavior: url(ie/PIE/PIE.htc);
}

@mixin loupe-circle {
  .circle {
    border: 6px solid white;
    background-color: #fff;
    display: block;
    overflow: hidden;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    @include border-radius-with-pie(100px);
  }
  .circle-inner {
    border: 1px solid #dddddd;
    display: block;
    background-color: #e6e6e6;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    @include border-radius-with-pie(100px);
  }
}

@mixin numeric-font {
  font-family: 'LeagueGothicRegular','Helvetica Neue',sans-serif;
}