<header>
<p id="acception-count">{{totalResults}}</p>
<h1 id="acception-label">承認待ちの記事</h1>
</header>
{{#if loading}}
<div class="loading">
{{/if}}
<ul id="acceptions-list">
</ul>
{{#if loading}}
</div>
{{/if}}
