<header>
<p id="acception-count">3</p>
<h1 id="acception-label">承認待ちの記事</h1>
</header>
<ul>
<li><img src="widgets/acception/assets/a.jpg"></li>
<li><img src="widgets/acception/assets/b.jpg"></li>
<li><img src="widgets/acception/assets/c.jpg"></li>
</ul>

