{{>js_views_card_partials_title}}
<div class="content">
  {{>js_views_card_partials_fetchError}}
  {{>js_views_card_partials_loading}}
  {{>js_views_card_partials_noItem}}
  <ul id="acceptions-list" class="card-item-list" {{#if fetchError}}style="display:none"{{/if}}></ul>
  {{>js_views_card_partials_readmore}}
</div>
