<header>
<h1 id="acception-label">{{#trans trans}}{{name}}{{/trans}}</h1>
<p id="acception-count" class="card-header-count">{{totalResults}}</p>
</header>
{{#if loading}}
<div class="loading"></div>
{{/if}}
{{#if error}}
<div class="error">
  <div class="message">{{#trans trans}}Failed fetching data{{/trans}}</div>
  <div class="refetch">{{#trans trans}}re-fetch data{{/trans}}</div>
</div>
{{/if}}
<ul id="acceptions-list">
</ul>
