<a data-route="acception/{{blog.id}}/{{this.id}}">
  {{#if this.assets.length}}
    {{#eachOnly this.assets 0}}
      <img src="{{url}}" />
    {{/eachOnly}}
  {{else}}
      <span class="icon-pen no-image"></span>
  {{/if}}
</a>
