/* line 1, ../../../widgets/stats/style.scss */
#widget-stats {
  background-color: #16878a;
}
/* line 3, ../../../widgets/stats/style.scss */
#widget-stats header {
  padding: 10px;
  text-align: center;
  color: #fff;
}
/* line 7, ../../../widgets/stats/style.scss */
#widget-stats header p {
  font-size: 4em;
  margin: 0;
  font-weight: bold;
}
/* line 12, ../../../widgets/stats/style.scss */
#widget-stats header h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

/* line 20, ../../../widgets/stats/style.scss */
#canvas {
  display: block;
}
